<div class="jumbotron">
  <h2>Game Console</h2>
  <p>Active Player</h2>
</div>

<div class="row">
  <p><%= @player.name %> : <%= @player.health %></p>
  <%= form_for @conn, player_hit_path(@conn, :create, @player.name), [as: :hit], fn f -> %>
  <label>
    Damage: <%= text_input f, :damage %>
  </label>
    <%= submit "Hit!" %>
  <% end %>
</div>
